/* ========================== BODY =========================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    background: linear-gradient(#444DFF, #5B3BB8);
    height: 110%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

/* ==================================== NAV =========================================================== */

nav {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-shrink: 0;
    border-bottom: 2px solid #FFF;
    background: #5153e0;
    border-radius: 3px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

nav>img {
    align-self: flex-start;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

nav>ul>input {
    flex-grow: 1;
    min-width: 480px;
    height: 35px;
    border-radius: 30px;
    background-color: #EBEAEA;
    border: 2px solid #5B3BB8;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}


nav>ul>button {
    background-color: #5B3BB8;
    border-radius: 30px;
    border: 2px solid #FFF;
    color: white;
    font-size: 17px;
    width: 100px;
    height: 37px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

button:hover {
    background-color: #4a3098;
}

.botaoImagem img {
    width: 19px;
    align-items: center;
}

nav>button>img {
    width: 1px;
}

/* ========================================= MAIN =========================================================== */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1, .container2 {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    border: 30px white;
}

.container1 {
    margin-right: 600px;
    background-color: #5a3bb88c;
    filter: drop-shadow(2px 2px 8px rgb(37, 6, 129));
    border-radius: 60px;
    padding: 20px;
    
}

.container1 img {
    width: 250px;
    filter: drop-shadow(2px 2px 8px rgb(0, 0, 0));
}
.container2 {
    margin-left: 400px;
    padding: 20px;
    margin-bottom: 35px;
    background-color: #5a3bb88c;
    filter: drop-shadow(2px 2px 8px rgb(37, 6, 129));
    border-radius: 60px;
}

.container2 img {
    width: 350px;
    filter: drop-shadow(2px 2px 8px rgb(0, 0, 0));
}

.container_texto {
    font-size: 1.2rem;
    color: white;
    font-family: Arial, sans-serif;
}

.container_texto h1 { 
    width: 300px;
    padding-bottom: 7px;
}

.container_texto p { 
    width: 300px;
    padding-right: 50px;

}

footer {
    background-color: #5153e0;
    border-top: 2px solid #FFF;
    background: #5153e0;
    border-radius: 3px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));

    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
}

footer .logoFooter {
    position: relative;
    height: 99px;/
}

.logoFooter img {
    position: absolute;
    top: -70px;
    width: 170px;
}