* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    height: 100%;
    background: linear-gradient(#444DFF, #2a2cc2, #090a57);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

/* ==================== NAV =========================================================== */

nav {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-shrink: 0;
    border: 2px solid #FFF;
    background: #5153e0;
    border-radius: 3px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

nav>img {
    align-self: flex-start;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

nav>ul>input {
    flex-grow: 1;
    min-width: 480px;
    height: 35px;
    border-radius: 30px;
    background-color: #EBEAEA;
    border: 2px solid #5B3BB8;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}


nav>ul>button {
    background-color: #5B3BB8;
    border-radius: 30px;
    border: 2px solid #FFF;
    color: white;
    font-size: 17px;
    width: 100px;
    height: 37px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.botaoImagem img {
    width: 19px;
    align-items: center;
}

nav>button>img {
    width: 1px;
}

/* ==================== CORPO DO SITE =========================================================== */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main>.container {
    margin-top: 50px;
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 10px;
    background-color: #FFF;
    padding: 20px;
    gap: 8px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

main img {
    display: flex;
    flex: wrap;
    max-width: 500px;
    border: #5B3BB8 5px solid;
    border-radius: 2px;
}

main>.container>.linha1,
.linha2 {
    display: flex;
    gap: 10px;
}

#seta1 {
    width: 70px;
    transform: rotate(180deg);
    padding-left: 10px;
    border: #FFF;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

#seta2 {
    width: 70px;
    padding-left: 10px;
    border: #FFF;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

/*---------------------------------------- GRADE SECUNDÃRIA ------------------------------------------- */

.gradeSecundaria {
    margin-top: 60px;
    background: linear-gradient(#141697, #2a2cc2, #090a57);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 120px;

}

.carrosel {
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
}

.jogos {
    background-color: #ffffff;
    color: black;
    text-align: center;
    border-radius: 6px;
    border: 5px solid #5C60FF;
    width: 220px;
    filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}

.jogos button {
    width: 190px;
    height: 39px;
    background-color: #5C60FF;
    border: none;
    border-radius: 5px;
    color: white;
}

.padding {
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: Arial, sans-serif;
    align-items: center;
}

.padding button {
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

.jogos p {
    color: #000;
    text-align: center;
    font-family: JejuGothic, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.jogos img {
    width: 213px;
    border-radius: 3px;
}

.estudio .titulos {
    padding: 20px 0;
}

section>h1 {
    font-size: 50px;
    padding-bottom: 60px;
}

.verMais {
    display: flex;
    justify-content: flex-end;
}

.verMais button {
    background-color: #5B3BB8;
    border-radius: 7px;
    border: 2px solid #FFF;
    color: white;
    font-size: 17px;
    width: 100px;
    height: 37px;
    margin: 15px;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.tituloDestaque {
    text-align: left;
}

.imagemDestaque img {
    border: 3px solid #FFF;
    border-radius: 15px;
}